# ── إعدادات الجلسة ────────────────────────────────
SESSION_SECRET=ضع_هنا_كلمة_سر_طويلة_وعشوائية_لا_تشاركها

# ── LiveKit ───────────────────────────────────────
LIVEKIT_URL=wss://brzan.com/livekit
LIVEKIT_API_KEY=APILP3Ch9xmbJN3
LIVEKIT_API_SECRET=dfvXuYwpyLCLnG0ucawNNnSDDRdZBNQpDqszPcKgiwQ

# ── البورت ───────────────────────────────────────
PORT=3000
